<nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background-color: #fc5a4e;">
    <img src="/static/logo.png" alt="" width="60" height="60" class="d-inline-block align-text-middle">	
    <a class="navbar-brand" href="#"> Supermarket Management System </a>
    
    <div class="navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}  
            <li class="nav-item">
                <a class="nav-link" href="{% url 'employee_list' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Employees
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'employee_list' %}">List</a>
                    <a class="dropdown-item" href="{% url 'employee_create' %}">Add</a> 
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contracts
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'contract_list' %}">List</a>
                    <a class="dropdown-item" href="{% url 'contract_create' %}">Add</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Job Position
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'job_list' %}">List</a>
                  <a class="dropdown-item" href="{% url 'job_create' %}">Add</a> 
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% endif %}
        </ul> 
    </div>
</nav> 
