{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block head_block %}
{{ form.media }} {% endblock %}

{% block body_block %}
<div class="container">
    <div>
        <div>
            <div
                class="p-5 text-center bg-image"
                style="
                background-image: url('https://images.alphacoders.com/752/752588.png');
                height: 125px;">
                <div class="mask" style="background-color: rgba(0, 0, 0, .5);">
                    <div class="d-flex justify-content-left h-10">
                        <div class="text-white">
                            <h3 class="mb-3">Job Details</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div>
            <table class="table table-bordered table-hover" style="background-color: rgba(52, 192, 235, 0.2);">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Expected Employees</th>
                    </tr>
                </thead>
                <tbody>
                    <td>{{ job.job_title }}</td>
                    <td>{{ job.expected_employees }}</td>
                </tbody>
            </table>             
        </div>
        <a href="javascript:history.back()" class="btn btn-dark"> Return </a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>    
</div>
{% endblock %}