{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block head_block %}
{{ form.media }} {% endblock %}

{% block body_block %}

<div>
    <h4 style="color:red;"> !Warning! You're deleting this following employee.<br>This may result loss data.</h4>
    <br>
    <div>
        <table class="table table-bordered table-hover" style="background-color: rgba(100, 0, 0, 0.2);">
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Birthday</th>
                <th scope="col">Address</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
            </tr>
        </thead>
        <tbody>
            <td>{{ employee.emp_id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.birthday }}</td>
            <td>{{ employee.address }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone }}</td>
        </tbody>
    </table>
    </div>
    <h4>Are you sure you want to delete?</h4><br>
    <form method="POST">
        {% csrf_token %}
        <a href="javascript:history.back()" class="btn btn-dark"> Cancel </a>
        &nbsp;&nbsp;&nbsp;
        <input type="submit" value="Delete" class="btn btn-danger">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </form>
</div>

{% endblock %}